@mixin slideUpAnimation($name, $distance, $opacity: 1) {
  @keyframes #{$name} {
    from {
      opacity: 0;
      transform: translateY($distance);
    }
    to {
      opacity: $opacity;
      transform: translateY(0px);
    }
  }

  animation: #{$name} 0.75s forwards ease-in-out;
}

@mixin slideLeftAnimation($name, $distance) {
  @keyframes #{$name} {
    from {
      opacity: 0;
      transform: translateX($distance);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  animation: #{$name} 0.65s forwards ease-in-out;
}

@mixin slideRightAnimation($name, $distance) {
  @keyframes #{$name} {
    from {
      opacity: 0;
      transform: translateX(-$distance);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  animation: #{$name} 0.65s forwards ease-in-out;
}

@keyframes scaleUp {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes shake {
  0% {
    transform: rotateY(12deg) translate(-50%, -50%);
  }
  20% {
    transform: rotateY(-7deg) translate(-50%, -50%);
  }
  40% {
    transform: rotateY(0deg) translate(-50%, -50%);
  }
}

@keyframes modalShow {
  from {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes rotateAndFly {
  0% {
    transform: translateX(-10vw) translateY(-15vh) rotateZ(0);
  }
  100% {
    transform: translateX(110vw) translateY(125vh) rotateZ(1080deg);
  }
}

@keyframes navbarHide {
  from {
    scale: (1.55);
  } 
  to { 
    scale: (0.7);
  }
}

@keyframes navbarExpend {
  from {
    scale: (0.7);
  } 
  to {
    scale: (1.55);
  }
}

@keyframes jumpRight {
  from {
    transform: translateX(-20vw);
  } to {
    transform: translateX(100vw);
  }
}

@keyframes drive {
  0% {
    opacity: 0;
    transform: translateX(0);
  }
  10% {
    opacity: 1;
    transform: translateX(10vw);
  }
  13% {
    transform: translateX(10vw) rotate(-90deg);
  }
  30% {
    transform: translateY(-20vw) translateX(10vw) rotate(-90deg);
  }
  33% {
    transform: translateY(-20vw) translateX(20vw) rotate(0deg);
  }
  50% {
    transform: translateY(-20vw) translateX(45vw) rotate(0deg);
  }
  53% {
    transform: translateY(-20vw) translateX(45vw) rotate(90deg);
  }
  70% {
    transform: translateY(0vw) translateX(45vw) rotate(90deg);
  }
  73% {
    transform: translateY(0vw) translateX(45vw) rotate(0deg);
  }
  100% {
    transform: translateY(0vw) translateX(100vw) rotate(0deg);
  }
}