@import './variables.scss';

.modal-layer {
  .fat-rabbit {
    width: vw(160px);
    height: vw(160px);
  }

  .close {
    top: vw(350px);
    right: vw(550px);
    width: vw(50px);
    height: vw(50px);
  }

  .content-box {
    top: 50%;
    left: 50%;
    transform: translateY(calc(-50% + vw(150px))) translateX(-50%);
    p {
      margin-bottom: vw(18px);
    }

    .name {
      font-size: vw(32px);
      margin-top: vw(27px);
    }

    .seet-at {
      font-size: vw(22px);
    }

    .seat {
      font-size: vw(43px);
    }

    .seat-index {
      font-size: vw(43px);
    }

    .plus-one {
      font-size: vw(28px);
    }

    .time {
      font-size: vw(23px);
    }

    .invite {
      font-size: vw(28px);
    }
  }

  .modal-box,
  .modal-small-box {
    width: vw(900px);
    height: vw(900px);

    .modal-small-box {
      width: vw(660px);
      height: vw(660px);

      .left-ear, .right-ear {
        width: vw(60px);
        height: vw(70px);
        top: vw(35px);
        left: vw(75px);
      }

      .right-ear {
        width: vw(50px);
        height: vw(60px);
        top: vw(30px);
        right: vw(40px);
      }
    }
  }
}

.main {

  .pointer {
    width: vw(100px);
    height: vw(100px);
    transform: translateX(calc(-50% + vw(100px))) rotate(-70deg);
    top: vw(-5px);
  }

  .pointer-text {
    width: vw(190px);
    height: vw(190px);
    top: vw(-75px);
    transform: translateX(calc(-50% - vw(25px)));
  }

  .jump-rabbit {
    bottom: vw(-305px);
    width: vw(280px);
    height: vw(280px);
  }

  .name-search-box {
    top: vw(140px);
  }

  .background-flower,
  .background-flower-2,
  .background-flower-3 {
    width: vw(700px);
    height: vw(315px) !important;
    left: vw(-15px);
    bottom: vw(172px);
  }

  .background-flower-2 {
    opacity: 0;
    left: vw(570px);
  }

  .background-flower-3 {
    right: (-15px);
    left: unset;
  }
}


.background-car {
  width: vw(500px);
  height: vw(500px);
  left: vw(-100px);
  bottom: vw(-100px);
}

.about-us {
  margin-top: vw(50px);

  .groom, .bride {
    margin-bottom: vw(100px);
  }

  .avatar {
    flex: 1 0 vw(100px);
    width: vw(100px);
    height: vw(100px);
    margin-right: vw(50px);
  }

  .intro {
    font-size: vw(16px);
    padding: vw(25px) 0;
  }
}

.where {
  margin-top: vw(50px);
}

@media (max-width: 1150px) {
  .modal-layer {
    .big-table {
      height: 69%;
    }
  }

  .main {

    .jump-rabbit {
      bottom: vw(-1105px);
      width: vw(280px);
      height: vw(280px);
    }

    .name-search-box {
      flex: 0 0 40% !important;
    }
  
    .tables {
      flex: 0 0 35% !important;
    }

    .background-flower-2,
    .background-flower-3 {
      opacity: 1;
    }
  }
}

@media (max-height: 975px) {
  .main {
    .name-search-box {
      .where-i-seet {
        top: vw(105px);
      }
    }
  }
}
