@import './keyframes.scss';
@import './variables.scss';

.main {
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: calc(100vh - vwm(220px));
  // max-height: -webkit-fill-available;
  margin: vwm(40px) auto;
}

.main.webview {
  height: calc(100vh - vwm(80px)) !important;
}

.collapse-hide {
  .toggle {
    display: block;
    width: vwm(100px);
    height: vwm(80px);
    position: absolute;
    right: vwm(100px);
    bottom: vwm(100px);
    transition: all 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    div {
      width: 80%;
      height: vwm(10px);
      // border: vwm(1px) solid rgb(173 137 188);
      // background: rgb(137 92 153 / 31%);
      background: rgb(205 173 211);
      border: vwm(1px) solid rgb(184 177 214 / 30%);;
      border-radius: vwm(16px);
      transition: all 1s;
    }
  }
  ul {
    left: vwm(-300px);
    top: vwm(-200px);
    animation: navbarHide 1s forwards;
    flex-direction: column;
    height: vwm(450px);
    border-radius: 50%;
    justify-content: center;
    box-sizing: border-box;    
    padding-left: vwm(210px);

    .nav-1, .nav-2, .nav-3 {
      opacity: 0;
      transition: opacity 1s;
      pointer-events: none;
      width: vwm(100px);
      height: vwm(73px);
    }

    .nav-1,
    .nav-3 {
      width: vwm(75px);
      height: vwm(54.75px);
    }

    .nav-1 {
      margin-top: vwm(170px);
    }
  }
}

.collapse-open {
  .toggle {
    display: block;
    width: vwm(50px);
    height: vwm(25px);
    position: absolute;
    right: vwm(30px);
    bottom: vwm(150px);
    transition: all 1s;
    transform: rotate(180deg);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    div {
      width: 80%;
      height: vwm(10px);
      border-radius: vwm(16px);
      transition: all 1s;
      // background: rgba(207, 80, 250, 0.533);
      // border: vwm(1px) solid rgba(207, 80, 250, 0.533);

      border: vwm(1px) solid rgb(173, 137, 188);
      background: rgba(137, 92, 153, 0.31);

      &.bar-1 {
        opacity: 0;
      }

      &.bar-2 {
        transform: rotate(45deg);
      }

      &.bar-3 {
        transform: translateY(vwm(-8px)) rotate(-45deg);
      }
    }
  }
  ul {
    left: vwm(-300px);
    top: vwm(-200px);
    animation: navbarExpend 1s forwards;
    flex-direction: column;
    height: vwm(450px);
    border-radius: 50%;
    justify-content: center;
    box-sizing: border-box;
    padding-left: vwm(210px);

    .nav-1, .nav-2, .nav-3 {
      transition: opacity 1s;
      width: vwm(100px);
      height: vwm(73px);
    }

    .nav-1,
    .nav-3 {
      width: vwm(75px);
      height: vwm(54.75px);
    }

    .nav-1 {
      margin-top: vwm(170px);
    }
  }
}

.modal-layer {
  // .fat-rabbit {
  //   width: vwm(160px);
  //   height: vwm(160px);
  // }

  .close {
    top: vwm(180px);
    right: vwm(60px);
    width: vwm(50px);
    height: vwm(50px);
  }

  .big-table {
    height: 44%;
  }

  .content-box {
    top: 50%;
    left: 50%;
    transform: translateY(calc(-50% + vwm(120px))) translateX(-50%);
    p {
      margin-bottom: vwm(17px);
    }

    .name {
      font-size: vwm(32px);
      margin-top: vwm(27px);
    }

    .seet-at {
      font-size: vwm(22px);
    }

    .seat {
      font-size: vwm(43px);
    }

    .seat-index {
      font-size: vwm(43px);
    }

    .plus-one {
      font-size: vwm(28px);
    }

    .time {
      font-size: vwm(23px);
    }

    .invite {
      font-size: vwm(28px);
    }
  }

  .modal-box,
  .modal-small-box {
    width: vwm(800px);
    height: vwm(800px);

    .modal-small-box {
      width: vwm(660px);
      height: vwm(660px);

      .left-ear, .right-ear {
        width: vwm(60px);
        height: vwm(70px);
        top: vwm(35px);
        left: vwm(75px);
      }

      .right-ear {
        width: vwm(50px);
        height: vwm(60px);
        top: vwm(30px);
        right: vwm(40px);
      }
    }
  }
}

.main {

  .jump-rabbit {
    bottom: vwm(-70px);
    width: vwm(180px);
    height: vwm(180px);
  }

  .table-pic {
    width: vwm(283px);
    height: vwm(366px);
    border-radius: vwm(16px);
  }

  .pointer {
    z-index: 10;
    width: vwm(100px);
    height: vwm(100px);
    transform: translateX(calc(50% - vwm(100px))) rotate(165deg) rotateX(157deg) rotateZ(-11deg);
    top: vwm(150px);
    pointer-events: none;
  }

  .pointer-text {
    z-index: 10;
    width: vwm(190px);
    height: vwm(190px);
    top: vwm(105px);
    transform: translateX(calc(50% + vwm(45px)));
    pointer-events: none;
  }

  .name-search-box {
    top: vwm(10px);
    flex: 0 0 50% !important;

    .where-i-seet {
      top: vwm(105px);
      width: vwm(300px);
      height: vwm(75px);
    }

    .name-search-btn {
      width: vwm(120px);
      height: vwm(65px);
      margin-left: vwm(15px);
      border-radius: vwm(30px);

      &::before {
        line-height: vwm(56px);
        border-radius: vwm(30px);
        background: rgb(250, 241, 241);
      }
    }

    input {
      width: vwm(170px);
      height: vwm(65px);
      border: vwm(1px) solid #ffffff;
      border-radius: vwm(40px);
      box-shadow: 0 vwm(1px) vwm(2px) rgba(0, 0, 0, 0.08), 0 vwm(4px) vwm(12px) rgba(0, 0, 0, 0.05);
      padding: vwm(0px) vwm(20px) vwm(0px) vwm(75px);
      background: url('@/assets/2608954.png') no-repeat vwm(19px) center / vwm(40px) vwm(40px);
      margin-left: vwm(65px);
    }
  }

  .tables {
    flex: 0 0 5% !important;
  }

  .background-flower,
  .background-flower-2,
  .background-flower-3 {
    width: vwm(180px);
    height: vwm(72px) !important;
    left: vwm(-15px);
    bottom: vwm(48px);
  }

  .background-flower-2 {
    left: vwm(170px);
  }

  .background-flower-3 {
    right: (-15px);
    left: unset;
  }
}

.about-us {
  margin-top: vwm(60px);

  .groom, .bride {
    margin-bottom: vwm(50px);
    display: flex;
    flex-direction: column;
  }

  .avatar {
    flex: 1 0 vwm(100px);
    width: vwm(100px);
    height: vwm(100px);
    margin-right: vwm(50px);
  }

  .intro {
    font-size: vwm(16px);
    padding: vwm(25px) 0;
    text-align: justify;
  }
}


.background-car {
  width: vwm(200px);
  height: vwm(200px);
  left: vwm(-80px);
  bottom: vwm(150px);
}

.where {
  margin-top: -5.5vh;
  padding: vwm(20px);
  top: 65%;
  height: 80%;

  .guest {
    font-size: vwm(22px);
    margin-bottom: vwm(10px);
    text-align: center;
  }

  h2{
    margin-bottom: vwm(5px);
    font-size: vwm(22px);
  }

  h3{
    font-size: vwm(19px);
  }

  p{
    font-size: vwm(16.5px);
  }

  .link {
    width: vwm(134px);
    height: vwm(22px);
    border-radius: vwm(20px);

    a {
      line-height: vwm(22px);
    }
  }
}

// .fade.scroll {
//   overflow-y: scroll;
// }


@media not all and (min-resolution:.001dpcm){ @supports (-webkit-appearance:none) { 
  .main {
    height: calc(100vh - vwm(220px));
  }
}}